.slide .item .content {
    height: 95%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.comment {
    padding: 20px;
    border-radius: 5px;
}

.comment .item {
    margin-bottom: 30px;
    display: flow;
    flex-direction: row;
    display: -webkit-flex;
}

.comment .item .avatar {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    margin-right: 10px;
}

.comment .item .arrow {
    height: 64px;
    margin-right: -1px;
    z-index: 100;
}

.comment .item .content {
    min-height: 64px;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    z-index: 50;
}


.comment .item .content p {
    margin-bottom: 0px;
    line-height: 1.6;
}

.comment .item .content .emoji {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 992px) {
    .slide .item .content {
        display: none;
    }

    #slide_out {
        display: inline;
    }
}

@media screen and (min-width: 992px) {
    .slide .item .content {
        display: flex;
    }

    #slide_out {
        display: none;
    }
}